
/*moblie & i pad section*/

@media(max-width:960px){
    
   
.col-card{
    width: 100%;
    padding: 30px;
   
    
} 

.footer-row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;


}
#footer{
    height: 180vh;

}

.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    width: 100%;
    
}

#filter-section{
    width: 80%;
    margin: auto;
    padding: 20px;
}

.btn{
    text-align: center;
    padding: 15px;
    border-radius: 20px 20px;
    margin-left: 55px;
    border-color:#dcdcdc;
    border:2px solid gray;
    width: 80%;
    margin: 10px;
    
}

}


/*laptop section*/
@media(min-width:1000px){
   
   
.col-card{
    width: 25%;
    padding: 30px;
   
    
} 

.footer-row{
    display: flex;
    width: 100%;


}

#footer{
    height: 80vh;

}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    width: 25%;
    
}

#filter-section{
    width: 80%;
    margin: auto;
    padding: 20px;
}
.btn{
    text-align: center;
    padding: 15px;
    border-radius: 20px 20px;
    margin-left: 55px;
    border-color:#dcdcdc;
    border:2px solid gray;
    
}
}